---
- name: Install dependencies
  yum: pkg={{ item }} state=installed
  with_items:
    - yum-utils
    - device-mapper-persistent-data
    - lvm2

- name: Add Docker CE repository
  get_url:
    url: https://download.docker.com/linux/centos/docker-ce.repo
    dest: /etc/yum.repos.d/docker-ce.repo
    force: yes
    owner: root
    group: root
    mode: 0644

- name: Install Docker CE
  yum:
    name: docker-ce
    state: present
    update_cache: yes

- name: Start Docker service
  service:
    name: docker
    state: started
    
- name: Stop Docker service
  service:
    name: docker
    state: stopped
  when: role == "worker"
    
- name: Configure direct-lvm mode
  command: "{{ item }}" 
  with_items: 
    - sudo yum install lvm* -y
    - sudo pvcreate /dev/xvdf -ff -y
    - sudo vgcreate docker /dev/xvdf
    - sudo lvcreate --wipesignatures y -n thinpool docker -l 95%VG -y
    - sudo lvcreate --wipesignatures y -n thinpoolmeta docker -l 1%VG
    - sudo lvconvert -y --zero n -c 512K --thinpool docker/thinpool --poolmetadata docker/thinpoolmeta
  when: role == "worker"
 
- name: Configure autoextension of thin pools via LVM profile
  template:
    src: roles/base/templates/docker-thinpool.profile.j2
    dest: /etc/lvm/profile/docker-thinpool.profile
    owner: root
    group: root
    mode: '0644'
    backup: yes
  when: role == "worker"
    
- name: Apply the LVM profile and enable monitoring for logical volumes
  command: "{{item}}"
  with_items:
    - sudo lvchange --metadataprofile docker-thinpool docker/thinpool
    - sudo lvs -o+seg_monitor
    - sudo mkdir /var/lib/docker.bk
    - sudo mv /var/lib/docker/ /var/lib/docker.bk
  when: role == "worker"
    
- name: Set options needed for the devicemapper storage driver and journald
  template:
    src: roles/base/templates/daemon.json.j2
    dest: /etc/docker/daemon.json
    owner: root
    group: root
    mode: '0644'
    backup: yes
  when: role == "worker"

- name: Start Docker service
  service:
    name: docker
    state: started
  when: role == "worker"
  
 # TO-DO: Add sa-ansible user account and assign perms 
#- name: Add sa-ansible user

