---
- name: Install dependencies
  yum: pkg={{ item }} state=installed
  with_items:
    - yum-utils
    - device-mapper-persistent-data
    - lvm2
       
- name: Add Docker CE repos
  yum_repository:
    name: docker_repo
    description: Docker CE
    baseurl: https://download.docker.com/linux/centos/docker-ce.repo
    
- name: Install Docker
  yum:
    name: docker-ce-17.07.0.ce
    enablerepo: docker-ce-edge
    state: present
    
# - name: Install Docker CE
  # yum:
    # name: docker-ce-17.07.0.ce
    # state: present

- name: Start Docker service
  service:
    name: docker
    state: started
    
- name: Update LVM configuration
  command: "{{ item }}" 
  with_items: 
    - sudo systemctl stop docker
    - sudo lvremove thinpool docker -y
    - sudo lsblk
    - sudo yum install lvm* -y
    - sudo pvcreate /dev/xvdb -ff -y
    - sudo lsblk
    - sudo vgcreate docker /dev/xvdb
    - sudo lvcreate --wipesignatures y -n thinpool docker -l 95%VG -y
    - sudo lsblk
    - sudo lvcreate --wipesignatures y -n thinpoolmeta docker -l 1%VG
    - sudo lvconvert -y --zero n -c 512K --thinpool docker/thinpool --poolmetadata docker/thinpoolmeta
    - sudo lsblk

- name: Edit docker.thinpool.profile 
  copy:
    content: "activation {
                thin_pool_autoextend_threshold=80
                thin_pool_autoextend_percent=20 }"
    dest: "/etc/lvm/profile/docker-thinpool.profile"
    backup: yes
    mode: 0644
    
- name: Additional config
  command: "{{item}}"
  with_items:
    - sudo cat /etc/lvm/profile/docker-thinpool.profile
    - sudo lvchange --metadataprofile docker-thinpool docker/thinpool
    - sudo lvs -o+seg_monitor
    - sudo mkdir /var/lib/docker.bk
    - sudo mv /var/lib/docker/* /var/lib/docker.bk
      
- name: Update daemon.json
  copy:
    content: {"storage-driver": "devicemapper",
              "storage-opts": [
              "dm.thinpooldev=/dev/mapper/docker-thinpool",
              "dm.use_deferred_removal=true",
              "dm.use_deferred_deletion=true" ],
              "log-driver": "journald"}
    dest: "/etc/docker/daemon.json"
    backup: yes
    mode: 0644

- name: Additional config
  command: "{{item}}"
  with_items:
    - sudo cat /etc/docker/daemon.json
    - sudo systemctl daemon-reload
    - sudo systemctl start docker
    - sudo systemctl status docker
    - sudo docker info
    - sudo pvdisplay
