---
- include_role:
    name: base
    
- name: Wait for swarm token to be created/committed to repo
  command: "curl -o - -Ii --silent https://github.com/bmquiroz/hosts/blob/master/manager_conf"
  register: result
  until: result.stdout.find("200 OK") != -1
  retries: 60
  delay: 1
  changed_when: false
  
- git:
    repo: https://github.com/bmquiroz/hosts.git
    dest: /tmp/repo

- name: Join swarm
  command: sudo docker swarm join --token "{{ manager_token }}" --advertise-addr "{{ management_int }}":2377 --listen-addr "{{ management_int }}":2377 --data-path-addr "{{ services_int }}" "{{ master_ip }}":2377
  register: manager

- name: Show results
  debug: var=manager.stdout

- name: Show errors
  debug: var=manager.stderr
  
- name: Update inventory host file
  git: src=https://github.com/bmquiroz/hosts.git dest=/inventory/hosts
  # sudo_user: <your user that has the ssh key>
