---
- include_role:
    name: base

- name: Init swarm master
  command: sudo docker swarm init --advertise-addr  "{{ management_int }}":2377 --listen-addr "{{ management_int }}":2377 --data-path-addr "{{ services_int }}"
 
- name: Get worker token
  command: sudo docker swarm join-token worker -q 
  register: worker_token
 
- name: Show worker token
  debug: var=worker_token.stdout
  
- name: Write worker token to file
  copy: content="{{ worker_token.stdout }}" dest=/tmp/repo/worker_conf
 
- name: Get manager token
  command: sudo docker swarm join-token manager -q
  register: master_token
 
- name: Show master token
  debug: var=master_token.stdout
  
- name: Write manager token to file
  copy: content="{{ master_token.stdout }}" dest=/tmp/repo/manager_conf
  
- name: Add swarm tokens to repo
  command: "{{item}}"
  with_items:
    - git add .
    - git -c user.name='Boris Quiroz' -c user.email='bmquiroz@email.com' commit -m 'Test1'
    - git push origin master
  args:
    chdir: /tmp/repo/
    
- name: Add swarm overlay networks
  command: "{{item}}"
  with_items:
    - docker network create --driver=overlay --subnet=10.1.0.0/16 --gateway=10.1.0.1 proxy
    - docker network create --driver=overlay --subnet=10.2.0.0/16 --gateway=10.2.0.1 backend
